.projects-wrapper {
    background-color: gainsboro;
    /* height: 100vh;
    width: 100vw; */
}

.btn-project{
    border: 1px solid steelblue;
    /* text-transform: uppercase; */
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: steelblue;
    font-size: 18px;
    margin: 2rem;
    z-index: +1;
}

.btn-project:hover {
    text-decoration: none;
    color: steelblue;
    transition: .2s ease-in-out;
}